footer{
  background-color:#040405;
  color:#fff;
  padding-bottom: 35px;
  font-size: 14px;
  text-align: center;
  .box{
    padding:30px 5%;
    border-bottom: 1px solid #404547;
    .company-box{
      text-align: left;
      //margin:10px 20px;
      color: rgba(255,255,255,0.8);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .img-box{
        margin-right:1rem;
      }
      div{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .icon-box{
      margin-top:30px;
      position: relative;
      .ivu-poptip{
        position: absolute;
      }
      .ivu-poptip:first-child{
        right:40px;
      }
      .ivu-poptip:last-child{
        right:0;
      }
      img{
        width:40px;
        height:40px;
        cursor: pointer;
      }
    }
  }

  .info-box{
    display: flex;
    justify-content: space-between;
    padding:15px 10%;
    //font-size: 16px;
    color: rgba(255,255,255,0.5);
    .text{
      //margin:0 7px;
    }
    .ivu-col{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right:10px;
      //border-right: 1px solid rgba(255,255,255,0.5);
      a{
        color: rgba(255,255,255,0.5);
      }
    }

  }



}